coreapi
django<4.0
django-cors-headers
django-filter
django-guardian
django-rest-swagger
djangorestframework
drf-flex-fields==0.9.1
drf-extensions
django-auth-ldap
social-auth-app-django
git+https://github.com/arenadata/django-generate-secret-key.git
virtualenv
# TODO jinja2 and markupsafe should be unpinned after https://arenadata.atlassian.net/browse/ADCM-2089 fixup
Jinja2==2.11.3
jsonschema
MarkupSafe==1.1.1
markdown
mitogen
pyyaml
ruyaml
toml
uwsgi
version_utils
ruyaml
yspec
